@{
    ViewData["Title"] = "Proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

                <!--end col-->
               
                   
                            <div class="container">
                                <button type="button" onclick="openModal();" class="btn btn-success btn-label rounded-pill" ><i class="ri-check-double-line label-icon align-middle rounded-pill fs-16 me-2"></i> Añadir proyecto</button>
                                <hr/>
                            </div>
                            
                <dl class="row">

                 
                                <table class="table table-hover table-bordered" id="Proyectos" role="grid" aria-describedby="tableRoles_info" style="width: 1533px;">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Fecha inicio</th>
                                            <th>Fecha fin</th>
                                            <th>Precio</th>
                                            <th>Estado</th>
                                            <th>Horas</th>
                                            <th>Cliente</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                </div>
   
                
    <div class="modal fade" id="modalEditPro" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header headerRegister" style="">
                <h5 class="modal-title" id="titleModal">Editar proyecto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tile">
                    <div class="tile-body">
                        <form id="formUsuario2" name="formUsuario2" class="form-horizontal">
                            <input type="hidden" id="idUsuario2" name="idUsuario2" value="">
                            <p class="text-primary">Todos los campos son obligatorios.</p>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="txtIdentificacion2">Identificación</label>
                                    <input type="text" class="form-control" id="txtIdentificacion2" name="txtIdentificacion2" required="">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="txtNombre2">Nombres</label>
                                    <input type="text" class="form-control valid validText" id="txtNombre2" name="txtNombre2" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="txtApellido2">Apellidos</label>
                                    <input type="text" class="form-control valid validText" id="txtApellido2" name="txtApellido2" required="">
                                </div>
                            </div>
                            <div class="form-row">  
                                <div class="form-group col-md-6">
                                    <label for="txtEmail">Email</label>
                                    <input type="email" class="form-control valid validEmail" id="txtEmail2" name="txtEmail2" required="">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="txtPassword">Password</label>
                                    <input type="password" class="form-control" id="txtPassword2" name="txtPassword2">
                                </div>
                                
                            </div>
                            <br/>
                            <div class="tile-footer">
                                <button id="btnActionForm2" onclick="sendEdit();" class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i><span id="btnText">Guardar</span></button>&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-danger" type="button" data-dismiss="modal"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cerrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---Modal 2-->
<div class="modal fade" id="modalNewPro" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header headerRegister" style="">
                <h5 class="modal-title" id="titleModal">Proyecto nuevo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formUsuario" name="formUsuario" class="form-horizontal">
                    <p class="text-primary">Todos los campos son obligatorios.</p>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtIdentificacion">Identificación</label>
                            <input type="text" class="form-control" id="txtIdentificacion" name="txtIdentificacion" required="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtNombre">Nombres</label>
                            <input type="text" class="form-control valid validText" id="txtNombre" name="txtNombre" required="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtApellido">Apellidos</label>
                            <input type="text" class="form-control valid validText" id="txtApellido" name="txtApellido" required="">
                        </div>
                    </div>
                    <div class="form-row">
                        
                        <div class="form-group col-md-6">
                            <label for="txtEmail">Email</label>
                            <input type="email" class="form-control valid validEmail" id="txtEmail" name="txtEmail" required="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtPassword">Password</label>
                            <input type="password" class="form-control" id="txtPassword" name="txtPassword">
                        </div>
                        
                    </div>
                    <br/>
                    <div class="tile-footer">
                        <button id="btnActionForm" onClick="" class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i><span id="btnText">Guardar</span></button>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger" type="button" data-dismiss="modal"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

       

@section scripts{ 
   

    <script>

        document.addEventListener('DOMContentLoaded', function () {
        $(document).ready(function () {
            tableClientes = $('#Proyectos').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                    },
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "@Url.Content("~/Proyectos/JsonProyectos")",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "pageLength": 10,
                    "filter": true,
                    "responsivePriority": 1,
                    "data": null,
                    "columns": [
                        { "data": "pro_ID", "name": "pro_ID", "autoWidth": true },
                        { "data": "pro_Nombre", "name": "pro_Nombre", "autoWidth": true },
                        { "data": "pro_FecIni", "name": "pro_FecIni", "autoWidth": true },
                        { "data": "pro_FecFin", "name": "pro_FecFin", "autoWidth": true },
                        { "data": "pro_Precio", "name": "pro_Precio", "autoWidth": true },
                        { "data": "pro_Estado", "name": "pro_Estado", "autoWidth": true },
                        { "data": "pro_Horas", "name": "pro_Horas", "autoWidth": true },
                        { "data": "nombres", "name": "nombres", "autoWidth": true },
                        { "data": "pro_Lenguajes", "name": "pro_Lenguajes", "autoWidth": true }
                       
                    ],
                    'dom': 'lBfrtip',
                   'buttons': [
                        {
                            "extend": "copyHtml5",
                            "text": "<i class='far fa-copy'></i> Copiar",
                           "titleAttr": "Copiar",
                            "class":"",
                            "className": "btn btn-soft-primary waves-effect waves-light"
                        }, {
                            "extend": "excelHtml5",
                            "text": "<i class='fas fa-file-excel'></i> Excel",
                            "titleAttr": "Exportar a Excel",
                           "className": "btn btn-soft-success waves-effect waves-light"
                        }, {
                            "extend": "pdfHtml5",
                            "text": "<i class='fas fa-file-pdf'></i> PDF",
                            "titleAttr": "Exportar a PDF",
                           "className": "btn btn-soft-danger waves-effect waves-light"
                        }, {
                            "extend": "csvHtml5",
                            "text": "<i class='fas fa-file-csv'></i> CSV",
                            "titleAttr": "Exportar a CSV",
                           "className": "btn btn-soft-info waves-effect waves-light"
                        }
                    ],
                    "responsieve": "true",
                    "bDestroy": true
                });
        });
/*------------Para el modal N° 1----------------------*/
            if (document.querySelector("#formUsuario")) {
                let formUsuario = document.querySelector("#formUsuario");
                formUsuario.onsubmit = function (e) {
                    e.preventDefault();
                    let strIdentificacion = document.querySelector('#txtIdentificacion').value;
                    let strNombre = document.querySelector('#txtNombre').value;
                    let strApellido = document.querySelector('#txtApellido').value;
                    let strEmail = document.querySelector('#txtEmail').value;
                
                    let strPassword = document.querySelector('#txtPassword').value;
               
        

                    if (strIdentificacion == '' || strApellido == '' || strNombre == '' || strEmail == '' ) {
                        swal("Atención", "Todos los campos son obligatorios.", "error");
                        return false;
                    }

                    let elementsValid = document.getElementsByClassName("valid");
                    for (let i = 0; i < elementsValid.length; i++) {
                        if (elementsValid[i].classList.contains('is-invalid')) {
                            swal("Atención", "Por favor verifique los campos en rojo.", "error");
                            return false;
                        }
                    }
                   

                    var data = { strIdentificacion: strIdentificacion, strNombre: strNombre, strApellido: strApellido, strEmail: strEmail,  strPassword: strPassword };
                      $.ajax({
                            type: "POST",
                            url: "@Url.Action("InsertCli", "Panel")",
                            content: "application/json; charset=utf-8",
                            dataType: "json",
                            data: data,
                            success: function (d) {
                                var msg = d.msg;
                                if (d.Success == true) {
                                    swal("Success", {
                                        icon: "success",
                                        title: "Éxito al procesar la petición",
                                        text: msg,
                                    });
                                    $('#modalNewDoc').modal("hide");
                                    formUsuario.reset();
                                    tableClientes.ajax.reload();
                                }else {
                                    swal("Error", {
                                        icon: "error",
                                        title: "Error al procesar la petición",
                                        text: msg,
                                    });
                                    $('#modalNewDoc').modal("hide");
                                    formUsuario.reset();
                                    tableClientes.ajax.reload();
                                }
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                swal("Error", {
                                    icon: "error",
                                    title: "Error al procesar la petición",
                                    text: "Por favor comunique a un administrador en caso de que el error persista.",
                                });
                                $('#modalNewDoc').modal("hide");
                                formUsuario.reset();
                                tableClientes.ajax.reload();
                            }
                        });
                       }
                        return false;
            }
        }, false);
        function openModal() {
                $('#modalNewPro').modal('show');
            }

    </script>
}


