@page
@model RegisterModel
@{
    ViewData["Title"] = "Crea tu cuenta";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Registrate como administrador para poder continuar.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Adm_Nombres" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Input.Adm_Nombres"></label>
                <span asp-validation-for="Input.Adm_Nombres" class="text-danger"></span>
            </div>
             <br/>
            <div class="form-floating">
                <input asp-for="Input.Adm_Apellidos" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Input.Adm_Apellidos"></label>
                <span asp-validation-for="Input.Adm_Apellidos" class="text-danger"></span>
            </div>
             <br/>
            <div class="form-floating">
                <input asp-for="Input.Adm_Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Adm_Email"></label>
                <span asp-validation-for="Input.Adm_Email" class="text-danger"></span>
            </div>
             <br/>
            <div class="form-floating">
                <input asp-for="Input.Adm_Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Adm_Password"></label>
                <span asp-validation-for="Input.Adm_Password" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
             <br/>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
        </form>
    </div>
  
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
